body {
    background-color: rgb(223, 253, 255);
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: beige;
    border-spacing: 5px;
    border-width: 8px;
    width: 10%;
}
h1 {
    color: aqua;
}
h3 {
    color: aquamarine;
}
